<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理者登録</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h2>管理者登録</h2>

<form th:action="@{/admin/signup}" method="post" th:object="${admin}">
    <label>メールアドレス</label>
    <input type="text" th:field="*{email}">

    <label>パスワード</label>
    <input type="password" th:field="*{password}">

	<button type="submit" class="btn btn-signup">登録</button>
</form>

</body>
</html>